.portfolio-nav{
	padding:0;
	margin:0 0 45px 0;
	list-style:none;
	text-align:center;
}
.portfolio-nav li{
	margin:0 10px;
	display:inline;
}
.portfolio-nav li a{
	display:inline-block;
	padding:10px 22px;
	font-size:12px;
	line-height:20px;
	color:#222222;
	border-radius:4px;
	background:#f7f7f7;
	margin-bottom:5px;
	transition:all 0.3s ease-in-out;
}
.portfolio-nav li a:hover{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}

.portfolioContainer{
	margin:0 auto;
	padding-left:15px;
}

.portfolio-box{
	text-align:center;
	margin-bottom:30px;
	height:350px;
	width:350px;
	overflow:hidden;
	float:left;
	padding:0;
}
.portfolio-box img{
	margin-bottom:25px;
	transition:all 0.3s ease-in-out;
}

.portfolio-box img:hover {
	opacity: 0.6;
}

.portfolio-nav li a.current{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}
img {
   max-width:100%;
}
.isotope .isotope-item {
	transition-duration: 0.6s;
}

.isotope .isotope-item {
	transition-property: transform, opacity;
}
.main-section.paddind{
	padding-bottom:60px;
}